<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net462" />
  <package id="FreecraftCore.Serializer" version="2.0.39" targetFramework="net462" />
  <package id="FreecraftCore.Serializer.Metadata" version="2.0.39" targetFramework="net462" />
  <package id="FreecraftCore.Serializer.Stream" version="2.0.39" targetFramework="net462" />
  <package id="Generic.Math" version="1.0.2" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net462" />
  <package id="Reflect.Extent" version="1.0.7" targetFramework="net462" />
  <package id="Reinterpret.Net" version="2.0.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net462" />
</packages>