<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.14.0" targetFramework="net462" />
  <package id="FreecraftCore.Serializer" version="4.0.55" targetFramework="net462" />
  <package id="FreecraftCore.Serializer.Metadata" version="4.0.55" targetFramework="net462" />
  <package id="Generic.Math" version="1.0.2" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers.Toolset" version="3.9.0-2.final" targetFramework="net462" developmentDependency="true" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net462" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net462" />
  <package id="Nito.Disposables" version="2.0.1" targetFramework="net462" />
  <package id="NUnit" version="3.8.1" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.8.0" targetFramework="net462" />
  <package id="Reflect.Extent" version="1.0.7" targetFramework="net462" />
  <package id="Reinterpret.Net" version="2.0.7" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
</packages>