<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreecraftCore.Serializer.Metadata" version="3.0.35" targetFramework="net46" />
  <package id="GladNet3.Common.API" version="3.0.43" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net462" />
  <package id="Nito.AsyncEx.Coordination" version="1.0.2" targetFramework="net46" />
  <package id="Nito.AsyncEx.Tasks" version="1.0.1" targetFramework="net46" />
  <package id="Nito.Collections.Deque" version="1.0.0" targetFramework="net46" />
  <package id="Nito.Disposables" version="1.0.0" targetFramework="net46" />
</packages>